<%= form_for @client, :html => { :class => "form-horizontal client" } do |f| %>

  <% if @client.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'empresa', :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :company, :class => 'form-control' %>
    </div>
    <%=f.error_span(:company) %>
  </div>
  <div class="form-group">
    <%= f.label 'responsável', :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label 'endereço', :class => 'control-label col-lg-2' %>
    <div class="col-lg-5">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label 'bairro', :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :neighborhood, :class => 'form-control' %>
    </div>
    <%=f.error_span(:neighborhood) %>
  </div>
  <div class="form-group">
    <%= f.label 'cidade', :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
    	<%= f.collection_select(:cidade_id, @cidades, :id, :nome, {include_blank: 'Selecione:'},:class => 'form-control') %>
    </div>
    <%=f.error_span(:cidade_id) %>
  </div>
  <div class="form-group">
    <%= f.label 'UF', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.collection_select(:estado_id, @estados, :id, :sigla, {include_blank: 'Selecione:'},:class => 'form-control') %>
    </div>
    <%=f.error_span(:estado_id) %>
  </div>
  <div class="form-group">
    <%= f.label 'cep', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :cep, :class => 'form-control', id: 'cep' %>
    </div>
    <%=f.error_span(:cep) %>
  </div>
  <div class="form-group">
    <%= f.label 'fone', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :phone, :class => 'form-control', id: 'phone' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <%= f.label 'celular', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :cellphone, :class => 'form-control', id: 'celphone' %>
    </div>
    <%=f.error_span(:cellphone) %>
  </div>
  <div class="form-group">
    <%= f.label 'email', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label 'cnpj', :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :cnpj, :class => 'form-control', id: 'cnpj' %>
    </div>
    <%=f.error_span(:cnpj) %>
  </div>
  <div class="form-group">
    <%= f.label 'nota fiscal?', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select(:nf, options_for_select([["SIM"],["NÃO"]], @client.nf), {include_blank: 'Selecione'}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:nf) %>
  </div>
  <div class="form-group">
    <%= f.label 'Qnt estoque', :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.number_field :qnt, :class => 'form-control' %>
    </div>
    <%=f.error_span(:qnt) %>
  </div>
  <div class="form-group">
    <%= f.label 'até 10 toalhas R$', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :val1, :class => 'form-control', id: 'r1' %>
    </div>
    <%=f.error_span(:val1) %>
  </div>
  <div class="form-group">
    <%= f.label 'de 11 á 20 toalhas R$', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :val2, :class => 'form-control', id: 'r2' %>
    </div>
    <%=f.error_span(:val2) %>
  </div>
  <div class="form-group">
    <%= f.label 'de 21 á 30 toalhas R$', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :val3, :class => 'form-control', id: 'r3' %>
    </div>
    <%=f.error_span(:val3) %>
  </div>
  <div class="form-group">
    <%= f.label 'de 31 á 40 toalhas R$', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :val4, :class => 'form-control', id: 'r4' %>
    </div>
    <%=f.error_span(:val4) %>
  </div>
  <div class="form-group">
    <%= f.label '+ de 40 toalhas R$', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :val5, :class => 'form-control', id: 'r5' %>
    </div>
    <%=f.error_span(:val5) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
