<%- model_class = Outtowel -%>
<div class="page-header">
  <h1>Dados da saida de toalhas</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name('cliente') %>:</strong></dt>
  <dd><%= @outtowel.client.company %></dd>
  <dt><strong><%= model_class.human_attribute_name('endereço') %>:</strong></dt>
  <dd><%= @outtowel.client.address %>&nbsp;
  <strong><%= model_class.human_attribute_name('bairro') %>:</strong>
  <%= @outtowel.client.neighborhood %><strong>&nbsp;
  <%= model_class.human_attribute_name('cidade') %>:</strong>
  <%= @outtowel.client.cidade.nome %>&nbsp;
  <strong><%= model_class.human_attribute_name('UF') %>:</strong>
  <%= @outtowel.client.estado.sigla %>&nbsp;
  <strong><%= model_class.human_attribute_name('Cep') %>:</strong>
  <%= @outtowel.client.cep %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name('Cnpj') %>:</strong></dt>
  <dd><%= @outtowel.client.cnpj %>&nbsp;
  <strong><%= model_class.human_attribute_name('fone') %>:</strong>
  <%= @outtowel.client.phone %>&nbsp;
  <strong><%= model_class.human_attribute_name('celular') %>:</strong>
  <%= @outtowel.client.cellphone %>&nbsp;
  <strong><%= model_class.human_attribute_name('email') %>:</strong>
  <%= @outtowel.client.email %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              outtowels_path, :class => 'btn btn-default'  %>
<% if @outtowel.status == 'ABERTA' %>              
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_outtowel_path(@outtowel), :class => 'btn btn-default' %>
<% end %>              
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              outtowel_path(@outtowel),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<!-- EXIBE A QUANTIDADE DE ITENS NA O.S -->
 <div class="page-header">
  	<h2><%= @outtowel.itemouts.count %> Itens</h2>
 </div>
    <!-- EXIBE OS ITENS NA O.S --> 
 <%= render "itemouts/item" %>
 <%= render "itemouts/form" %>
 
  <%= render "outtowels/form_receipt" %>  
 
<p>              
